<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Wu Guan Danmark",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}{{ site.logo }}",
  "description": "{{ site.description }}",
  "foundingDate": "2025",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "DK"
  },
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "contactType": "Lyngby Club",
      "telephone": "+45-22123861",
      "email": "ptcc.lyngby@gmail.com",
      "areaServed": "DK",
      "availableLanguage": ["Danish", "English"]
    },
    {
      "@type": "ContactPoint",
      "contactType": "Aarhus Club",
      "telephone": "+45-60162154",
      "email": "ptcc.aarhus@gmail.com",
      "areaServed": "DK",
      "availableLanguage": ["Danish", "English"]
    }
  ],
  "sameAs": [
    "https://facebook.com/wuguandanmark",
    "https://instagram.com/wuguandanmark"
  ]
}
</script>
